MYSQL_ROOT_PASSWORD=admin123
MYSQL_USER=forge_second
MYSQL_PASSWORD=admin123
MYSQL_DATABASE=forge_second
MYSQL_HOST=db

APP_NAME=Försäkringarna
APP_ENV=local
APP_KEY=base64:3mUQKEWQYUtxaWEU2cUgZi80rpzbiTMizJYzdfCXLI0=
APP_DEBUG=true
APP_URL=http://0.0.0.0

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=forge_second
DB_USERNAME=forge_second
DB_PASSWORD=admin123